<!DOCTYPE html>

<html>
  <head>
      <meta name="viewport" content="width=device-width" />
      <title>登陆系统</title>
      <script src="/static/Scripts/vue/vue.js"></script>
      <link href="/static/Iview/iview.css" rel="stylesheet" /> 
      <script src="/static/Scripts/vue/vue-resource.js"></script>
      <script src="/static/Scripts/iview/iview.js"></script>

   
  </head>



<body>
    <style scoped>
        #app{
         background:#eee;
         height:100%;width:100%;
         border: 1px solid green;
         position:fixed;
         text-align:center
        }
        .container{
          margin:0 auto;
        
          width:380px;
          height:250px;
        
        }
        </style>
  <div id="app">
      <Card class="container"  >
          <div style="text-align:center">
         
              <h3>A high quality UI Toolkit based on Vue.js</h3>
          </div>
      </Card>
  </div>
</body>
<script>
var main=new Vue({
  el:"#app",
  data:{
    

  },
  methods:{
    show(){
      this.$Message.success('This is a success tip');
    }
  }



})

</script>
</html>
