<!DOCTYPE html>

<html>
  <head>
      <meta name="viewport" content="width=device-width" />
      <title>登陆系统</title>
      <link href="/static/Iview/iview.css" rel="stylesheet" /> 
      <script src="/static/Scripts/vue/vue.js"></script>    
      <script src="/static/Scripts/vue/vue-resource.js"></script>
      <script src="/static/Scripts/iview/iview.js"></script> 
  </head>
<body>
    <style scoped>
        #app{
         background:rgba(143, 139, 139, 0.055);
         height:100%;width:100%;
         border: 1px solid green;
         position:fixed;
         text-align:center
        }
        .container{
          margin:40px auto;    
          width:380px;
          height:250px;   
          text-align:center   
        }
        #app #summary{
          width:auto;
          height:30px;
          margin-top: 16px;
        }
        </style>
  <div id="app">
      <Card class="container"  >       
           <Icon type="ios-contact" size="45"></Icon><br>
           身份：<i-Select placeholder="请选择您的身份" v-model="user" style="width: 165px">
              <i-Option v-for="item in userList" :value="item.value" :key="item.value">{{ item.label }}</i-Option>
          </i-Select>   
           <br><br>
           口令：<i-Input type="password" v-model="pwd" placeholder="输入您的登录口令" style="width: 165px"></i-Input>
           <br><br>

        <i-Select placeholder="选择机组" v-model="station" style="width: auto">
            <i-Option v-for="item in stationList" :value="item.dbname" :key="item.name">{{ item.name }}</i-Option>
        </i-Select>   <i-button @click="submit" type="success"  style="width: auto" > 登 录 </i-button>           
      </Card>
      <div id="summary"><p >欢迎使用</p></div>
  </div>
</body>
<script>
var main=new Vue({
  el:"#app",
  data:{
     userList:[],
     stationList:[],
     user:'',
     pwd:'',
     station:'',

  },
  methods:{
    submit(){
      this.$Message.success(this.user+'-'+this.pwd);
    },
    GetStationList(){
      this.$http.get("/api/v1.0/GetStationList").then(resp => {
                    if (resp.body.state == 0) {
                        this.stationList = resp.body.data;
                        this.station=this.stationList[0].dbname;            
                    } else {
                       this.$message.error(resp.body.msg);
                    }

                }, function () {
                    this.$message.error('获取机组信息失败！');
                    })
    },
    GetUserList(){
      this.$http.get("/api/v1.0/GetUserList","{station:'"+this.station+"'}").then(resp => {
                    if (resp.body.state == 0) {
                        this.userList = resp.body.data;
                        this.user=this.userList[0].dbname;            
                    } else {
                       this.$message.error(resp.body.msg);
                    }

                }, function () {
                    this.$message.error('获取身份信息失败！');
          })
    }
  },
  watch: {
   'station':function(){
         this.GetUserList();
   }
  },
  created() {
     this.GetStationList();
  
  },



})

</script>
</html>
